/* Buttons */
.button {
  @apply inline-flex items-center justify-center px-6 py-2.5 text-center;
  @apply w-fit min-w-[8rem] rounded-xl disabled:pointer-events-none;
  @apply shadow-md hover:shadow-lg transition-transform duration-200 hover:-translate-y-0.5;
  transition-property:
    color, background-color, border-color, text-decoration-color, fill, stroke, box-shadow, transform,
    --tw-gradient-from, --tw-gradient-via, --tw-gradient-to;
  transition-timing-function: var(--default-transition-timing-function);
  transition-duration: var(--default-transition-duration);
}

.button--primary {
  @apply text-white bg-accentWarm-500 hover:bg-accentWarm-600 focus-visible:ring-2 focus-visible:ring-accentWarm-500 focus-visible:ring-offset-2 focus-visible:ring-offset-white;
}

.button--secondary {
  @apply text-white bg-primary-600 hover:bg-primary-700 focus-visible:ring-2 focus-visible:ring-primary-500 focus-visible:ring-offset-2 focus-visible:ring-offset-white;
}

.button--outline {
  @apply border-2 border-accentWarm-500 text-accentWarm-700 hover:bg-accentWarm-50;
}

.button--ghost {
  @apply text-accentWarm-700 hover:bg-accentWarm-50;
}
